@font-face {
    font-family: 'bahnschriftregular';
    src: url('media/bahnschrift_1-webfont.woff2') format('woff2'),
        url('media/bahnschrift_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #F7F6F8;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


#header {
    background-color: #810404;
    height: 100px;
    position: fixed;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
}


ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 45px;
}

a:hover {
    cursor: pointer;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: "bahnschriftregular";
    font-weight: 400;
}

a.clicked {
    transition: 1s;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#imgbackground {
    background-image: url(media/alcool.jpeg);
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}


h1 {
    font-size: 5rem;
    font-family: "Carlito";
    font-weight: 700;
    font-style: normal;
    color: white;
}

#texte {
    font-family: "Carlito";
    font-size: 1.8rem;
    margin: 5% 20% 5% 20%;
}

#containerAffiche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #810404;
    height: 1100px;
}

#affiche {
    width: 55%;
}

#soustitre {
    background-image: url(media/drinking.webp);
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}

h2 {
    font-family: "Carlito";
    font-weight: 700;
    font-size: 3.5rem;
    margin-top: 200px;
    margin-bottom: 200px;
    color: white;
}


.date {
    color: black;
    margin: 20px 0px -20px 0px;
}


.h3title {
    font-family: "Carlito";
    font-weight: 700;
    font-size: 2rem;
    margin-top: 150px;
}

.precision {
    font-size: 1.2rem;
    margin-top: -30px;
    margin-bottom: 100px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

.tooltip .tooltiptext {
    font-size: 1.2rem;
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext.show {
    visibility: visible;
    opacity: 1;
}



canvas {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 30px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Carlito", sans-serif;
}


#footer{
    background-color: #e3e3e3;
    height: 100px;
}

.checkbox-container {
    margin: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.checkbox-container label {
    display: block;
    margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 80px;
    transform: scale(1.8);
}

.checkbox-container span {
    font-weight: bold;
    color: #333;
}

#chart {
    margin-top: 30px;
}


footer {
    background-color: #810404;
    height: 100px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    font-family: "Carlito";
    color: white;
}

#sources{
    margin-top: 30px;
    text-decoration: underline;
}


@media only screen and (min-width: 769px) and (max-width: 1023px) {
    h1{
        font-size: 3rem;
    }

    #texte{
        font-size: 1.2rem;
        margin-left: 5%;
        margin-right: 5%;
    }

    #containerAffiche{
        height: 600px;
    }

    h2{
        margin-top: 100px;
        margin-bottom: 100px;
        font-size: 2.5rem;
    }

    .h3title{
        margin-top: 50px;
        font-size: 1.8rem;
    }

    #chart {
        height: 60vh;
        width: 100%;
    }

    #chart2 {
        height: 60vh;
        width: 100%;
    }

    #chart3 {
        height: 60vh;
        width: 100%;
    }

    #chart4 {
        height: 60vh;
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    h1{
        font-size: 1.5rem;
    }

    #imgbackground {
        margin-top: 100px;
    }

    #texte{
        font-size: 0.8rem;
        margin: 10% 5% 10% 5%;
    }

    #containerAffiche{
        height: 350px;
    }

    #affiche{
        width: 70%;
    }

    #soustitre{
        margin-bottom: 0;
    }

    .precision{
        font-size: 1rem;
        margin-bottom: 20px;
    }

    h2{
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 1.5rem;
    }

    .h3title{
        margin-top: 50px;
        margin-bottom: 40px;
        font-size: 1.1rem;
    }

    #chart {
        height: 60vh;
        width: 100%;
    }

    .tooltip .tooltiptext {
        font-size: 1rem;
    }

    #chart2 {
        height: 60vh;
        width: 80%;
    }


    #chart3 {
        height: 60vh;
        width: 100%;
    }

    #chart4 {
        height: 60vh;
        width: 100%;
    }

    .checkbox-container input[type="checkbox"] {
        margin-left: 30px;
        transform: scale(1.5);
    }

    .checkbox-container{
        display: flex;
        flex-wrap: wrap;
        font-size: 0.8rem;
    }

    .lebouton{
        margin-bottom: 100px;
    }


}

.info-btn {
    background-color: #810404;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #e3e3e3;
    font-size: 1.3rem;
    font-family: "Carlito", sans-serif;
    margin-top: 1%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    text-align: center;
    font-size: 1.2rem;
}

#detail {
    color: #810404;
    font-family: "Carlito";
    text-align: left;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

