main {
    background-color: #F7F6F8;
}
body {
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    font-family: "Cabin Condensed", serif;
    font-weight: 700;
    font-style: normal;
}
h2 {
    color: #F7F6F8;
}

p {
    font-family: "Cabin Condensed", serif;
    font-weight: 400;
    font-style: normal;
}