@font-face {
    font-family: 'bahnschriftregular';
    src: url('media/bahnschrift_1-webfont.woff2') format('woff2'),
         url('media/bahnschrift_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #F7F6F8;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}



.headerFooter{
    background-color: #d9d9d9;
    height: 70px;
}

#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 30px;
}

    li:hover{
        cursor: pointer;
        font-weight: 700;
    }

a{
    text-decoration: none;
    color: #810404;
    font-family: "bahnschriftregular";
    font-weight: 400;
}

a.clicked{
    transition: 1s;
}



main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
}

h1{
    font-size: 5rem;
    font-family: "Carlito";
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: "Carlito";
    margin: 5% 20% 10% 20%;
    text-align: left;
}

#containerAffiche{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #810404;
    height: 800px;
}

#affiche{
    width: 60%;
}

h2{
    font-family: "Carlito";
    font-weight: 700;
    font-size: 2rem;
}

#chart{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
}

